/* main */
.issues-listing .border-left {
    border-left: #343434 1px solid !important;
}
.issues-listing .border-right {
    border-right: #343434 1px solid !important;
}
.issues-listing .border-bottom {
    border-bottom: #343434 1px solid !important;
}

/* milestone description text */
.new-discussion-timeline .text-gray-dark {
    color: #c0c0c0 !important;
}

/* main - blog */
.border-bottom.separation {
    border-bottom: #343434 1px solid !important;
}

/* theme */
.ace_editor .ace_identifier {
  color: #fff !important;
}
